#game {
    position: relative;
    border: solid 1px black;
}

.banner {
    margin: 1px;
    position: absolute;
    pointer-events: none;
}

.paddle {
    position: absolute;
    transform: translate(-50%, 0);
    background-color: #333;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    pointer-events: none;
}

.ball {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 50%;
}